.continer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonon {
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  margin: 0px 10px;
  background: #0067de;
  color: #ffffff;
  border-radius: 5px;
}
.buttonoff{
   padding: 8px 20px;
  border: none;
  cursor:no-drop ;
  margin: 0px 10px;
  background: #002f64;
  color: #a4a4a4;
  border-radius: 5px;
}
.continer p {
  font-size: 18px;
  margin: 20px;
}
.coustpagecenter {
  background: #0067de;
  color: #ffffff;
  border-radius: 5px;
  padding: 2px 5px;
}
